.card{
    display: flex;
   max-height: 400px;
    padding: 5px;
    margin: 5px;
    background-color: #404d437e;
    border-radius: 8px;
    box-shadow: 5px 4px 8px rgba(0,0,0,0.1);
    
}
.item{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
}
.shop-but{
    background-color: #2f3330b2;
    color: white;
    border-color: rgb(70, 69, 67);
}
.shop-but:hover{
    background-color: #1c5a2a7e;
    cursor: pointer;
    border-color: rgba(55, 80, 105, 0.747);
}
.img{
    min-height: 200px;
    border-radius: 8px;
    object-fit: cover;
}